  <div class="card text-white mt-5" style="background-color: rgb(95, 153, 211)">
    <div class="card-header">
      <h2>Login</h2>
    </div>
    <form id="login-form" class="card-body">
      <div class="mb-3">
        <label for="username-input-login" class="form-label">Username</label>
        <input type="text" id="username-input-login" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="password-input-login" class="form-label">Password</label>
        <input type="password" id="password-input-login" class="form-control" />
      </div>
      <button type="submit" id="login-btn" class="btn btn-primary">Login!</button>
      <a type="button" href="/signup" class="btn btn-link" style="color: white">Sign up instead</a>
    </form>
  </div>
  
  <script src="/js/login.js"></script>