  <div class="card text-white mt-5" style="background-color: rgb(95, 153, 211)">
    <div class="card-header">
      <h2>Create Account</h2>
    </div>
    <div id="signup" role="tabpanel">
      <form id="signup-form" class="card-body">
        <div class="mb-3">
          <label for="username-input-signup" class="form-label">Username</label>
          <input type="text" id="username-input-signup" class="form-control"/>
        </div>
        <div class="mb-3">
          <label for="password-input-signup" class="form-label">Password</label>
          <input type="password" id="password-input-signup" class="form-control" />
        </div>
       
          <button type="submit" id="signup-btn" class="btn btn-danger text-white">Signup!</button>
          <a href="/login" class="text-white">Login instead</a>
       
      </form>
    </div>
  </div>
  
  <script src="/js/signup.js"></script>